<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.zjc.sams.dao.AttenceRecordMapper" >
  <resultMap id="AttenceResultMap" type="pers.zjc.sams.vo.AttenceRecordVo" >
    <id column="attence_id" property="attenceId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="name" property="courseName" jdbcType="VARCHAR" />
    <result column="s_name" property="stuName" jdbcType="VARCHAR"/>
  </resultMap>
  <select id="selecBySingleCondition" parameterType="pers.zjc.sams.po.AttenceRecord" resultMap="AttenceResultMap">
    select a.*, b.name , c.s_name  from attence_record a, course b, student c
    <where>
      a.course_id = b.id  and a.stu_id = c.stu_id
      <choose>
        <when test="attenceId != '' and attenceId != null">
          attence_id = #{attenceId}
        </when>
        <when test="status != null">
          and a.status = #{status}
        </when>
        <when test="stuId != '' and stuId != null">
          and a.stu_id = #{stuId}
        </when>
        <otherwise>
          and a.course_id = #{courseId}
        </otherwise>
      </choose>
      <if test="createTime != null and updateTime != null">
        and a.create_time between #{createTime} and #{updateTime}
      </if>
    </where>
  </select>
  <!--自定义时间查询
      此处createTime暂时用于代替开始时间，updateTime代替查询结束时间-->
  <select id="commonSelectCustom" parameterType="pers.zjc.sams.po.AttenceRecord" resultMap="AttenceResultMap">
    select a.*, b.name , c.s_name  from attence_record a, course b, student c
    <where>
      a.course_id = b.id  and a.stu_id = c.stu_id
      <if test="stuId != null">
        and a.stu_id=#{stuId}
      </if>
      <if test="courseId != null">
        and a.course_id = #{courseId}
      </if>
      <if test="createTime != null and updateTime != null">
        and a.create_time between #{createTime} and #{updateTime}
      </if>
    </where>
  </select>
  <update id="updateByPrimaryKey" parameterType="pers.zjc.sams.po.AttenceRecord">
    update attence_record
    <set>
      <if test="status != null">
        status = #{status}
      </if>
    </set>
    <where>
      <if test="stuId != null">
        stu_id = #{stuId}
      </if>
      <if test="courseId != null">
        and course_id = #{courseId}
      </if>
    </where>
  </update>
  <insert id="insert" parameterType="pers.zjc.sams.po.AttenceRecord">
    insert into attence_record(attence_id, stu_id, course_id, operator)
    VALUES (#{attenceId}, #{stuId}, #{courseId}, #{operator})
  </insert>
</mapper>