<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.zjc.sams.dao.SignRecordMapper" >
  <resultMap id="signResultMap" type="pers.zjc.sams.po.SignRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="VARCHAR" />
    <result column="sign_time" property="signTime" jdbcType="TIMESTAMP" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="sign_status" property="signStatus" jdbcType="INTEGER" />
    <result column="sign_ip" property="signIp" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="addSignRecord" parameterType="pers.zjc.sams.po.SignRecord">
    insert into sign_record(id, stu_id, sign_time, course_id, location, sign_ip)
    values (#{id}, #{stuId}, #{signTime}, #{courseId}, #{location}, #{signIp})
  </insert>

  <select id="selectBystuId" parameterType="Integer" resultMap="signResultMap">
    select * from sign_record where stu_id = #{stuId}
  </select>

  <select id="selectByCidAndStuIid" parameterType="pers.zjc.sams.po.SignRecord" resultMap="signResultMap">
    select * from sign_record where course_id=#{courseId} and stu_id=#{stuId} and to_days(sign_time) = to_days(now())
  </select>

  <select id="commonSelectToday" parameterType="pers.zjc.sams.po.SignRecord" resultMap="signResultMap">
    select * from sign_record
    <where>
      <if test="stuId != null">
        stu_id=#{stuId}
      </if>
      <if test="courseId != null">
        and course_id=#{courseId}
      </if>
      <if test="signStatus !='' and signStatus != null">
        and sign_status=#{signStatus}
      </if>
      and to_days(sign_time) = to_days(now())
    </where>
  </select>

  <select id="commonSelectWeek" parameterType="pers.zjc.sams.po.SignRecord" resultMap="signResultMap">
    select * from sign_record
    <where>
      <if test="stuId != null">
        stu_id=#{stuId}
      </if>
      <if test="courseId != null">
        and course_id=#{courseId}
      </if>
      <if test="signStatus !='' and signStatus != null">
        and sign_status=#{signStatus}
      </if>
        and DATE_SUB(CURDATE(), INTERVAL 7 DAY) <![CDATA[<=]]> date(sign_time)
    </where>
  </select>

  <select id="commonSelectMonth" parameterType="pers.zjc.sams.po.SignRecord" resultMap="signResultMap">
    select * from sign_record
    <where>
      <if test="stuId != null">
        stu_id=#{stuId}
      </if>
      <if test="courseId != null">
        and course_id=#{courseId}
      </if>
      <if test="signStatus !='' and signStatus != null">
        and sign_status=#{signStatus}
      </if>
      and DATE_SUB(CURDATE(), INTERVAL 30 DAY) <![CDATA[<=]]> date(sign_time)
    </where>
  </select>

</mapper>