<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.zjc.sams.dao.TeacherMapper" >
  <resultMap id="TeacherResultMap" type="pers.zjc.sams.po.Teacher" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="Integer" resultMap="TeacherResultMap">
    select * from teacher where id = #{id}
  </select>
  <insert id="insert" parameterType="pers.zjc.sams.po.Teacher">
    insert into teacher (id, major, t_name, email, tel)
    values (#{id}, #{major}, #{tName}, #{email}, #{tel});
  </insert>
  <select id="selectMaxIdTeac" resultType="pers.zjc.sams.po.Teacher">
    select * from teacher where id = (select max(id) from teacher)
  </select>
  <update id="updateByPrimaryKey" parameterType="pers.zjc.sams.po.Teacher">
    update teacher
      <set>
        <if test="id != null">
          id = #{id},
        </if>
        <if test="major != null and major != ''">
          major = #{major},
        </if>
        <if test="tName != null and tName != ''">
          t_name = #{tName},
        </if>
        <if test="email != null and email != ''">
          email = #{email},
        </if>
        <if test="tel != null and tel != ''">
          tel = #{tel},
        </if>
        <if test="sex != null and sex != 0">
          sex = #{sex}
        </if>
      </set>
      <where>
        <if test="id != null">
          id = #{id}
        </if>
      </where>
  </update>
  <select id="selectAll" resultMap="TeacherResultMap">
    select * from teacher
  </select>
  <delete id="cancel" parameterType="pers.zjc.sams.po.Teacher">
    delete from teacher where id = #{id}
  </delete>
</mapper>